/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Open Sans', sans-serif;
    color: black;
}
.flex{
    display: flex;
}
.margin-auto{
    margin: 0 auto;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
}
header{
    padding: 1.2rem 0.8rem;
    font-size: 0.85rem;
}
.left-side-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side-header>img{
    padding-right: 2.2rem;
}
.right-side-header{
    /* width: 45%;
    background-color: magenta; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a[href="#"]:hover{
    text-decoration: underline;
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron{
    width: 100%;
    height: 500px;
    background-color: #b4d0e7;
    padding: 1.8rem 0;
}
.jumbotron-wrapper-top{
    padding: 1.3rem 1rem;
    width: 60%;
    height: 150px;
}
.jumbotron-wrapper-bottom{
    padding: 2rem 0;
    border-color: cyan;
    width: 60%;
    height: 350px;
}
.jumbotron-text{
    width: 30%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
}
.top-text{
    font-size: 0.75rem;
    flex-basis: auto;
}
.button-text{
    flex-basis: auto;
}
.middle-text{
    flex-basis: auto;
    font-size: 0.8rem;
}
.bottom-text{
    flex-basis: auto;
    padding-bottom: 0.8rem;
}
.jumbotron-image{
    width: 70%;
}
.jumbotron-image>img{
    height: 350px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    padding-right: 1rem;
}
button{
    border: none;
    color: white;
}
.blue-button{
    background-color: #0061ff;
    padding: 0.3rem 1rem;
}
section.bussines-box{
    max-width: 780px;
    background-color: darkred;
    height: 1200px;
    padding: 6rem 0;
}
div.bussines-top{
    background-color: peachpuff;
    width: 100%;
    height: 100px;
    border: 1.5rem solid darkred;
}
div.bussines-checkbox{
    background-color: rgb(76, 10, 141);
    width: 100%;
    height: 100px;
    border: 1.5rem solid darkred;
}
div.bussines-column-wrapper{
    display: flex;
    flex-wrap: wrap;
}
div.bussines-column{
    width: calc(100% / 3);
    height: 700px;
    background-color: cornflowerblue;
    border: 1.5rem solid darkred;
}
div.upper-column{
    width: 100%;
    height: 40px;
    background-color: aqua;
}
div.bussines-footer{
    width: 100%;
    height: 230px;
    background-color: rgb(236, 155, 33);
    border: 1.5rem solid darkred;
}
div.bussines-footer>div{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 0, 0)
}