/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Open Sans', sans-serif;
    color: black;
}
.flex{
    display: flex;
}
.margin-auto{
    margin: 0 auto;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.flex-center{
    display: flex;
    align-items: center;
}
header{
    padding: 1.2rem 0.8rem;
    font-size: 0.85rem;
}
.left-side-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side-header>img{
    padding-right: 2.2rem;
}
.right-side-header{
    /* width: 45%;
    background-color: magenta; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a[href="#"]:hover{
    text-decoration: underline;
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron{
    width: 100%;
    height: 500px;
    background-color: #b4d0e7;
    padding: 1.8rem 0;
}
.jumbotron-wrapper-top{
    padding: 1.3rem 1rem;
    width: 60%;
    height: 150px;
}
.jumbotron-wrapper-bottom{
    padding: 2rem 0;
    border-color: cyan;
    width: 60%;
    height: 350px;
}
.jumbotron-text{
    width: 30%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
}
.top-text{
    font-size: 0.75rem;
    flex-basis: auto;
}
.button-text{
    flex-basis: auto;
}
.middle-text{
    flex-basis: auto;
    font-size: 0.8rem;
}
.bottom-text{
    flex-basis: auto;
    padding-bottom: 0.8rem;
}
.jumbotron-image{
    width: 70%;
}
.jumbotron-image>img{
    height: 350px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    padding-right: 1rem;
}
button{
    border: none;
    color: white;
}
.blue-button{
    background-color: #0061ff;
    padding: 0.3rem 1rem;
}
/* section.bussines-box{
    max-width: 780px;
    background-color: darkred;
    height: 100%;
    padding: 6rem 0;
} */
main{
    max-width: 780px;
    /* background-color: darkred; */
    border: 1px solid black;
    height: 100%;
    padding: 6rem 0;
}
div.bussines-top{
    background-color: peachpuff;
    width: 100%;
    height: 100px;
    border: 1.5rem solid white;
}
div.bussines-checkbox{
    background-color: rgb(76, 10, 141);
    width: 100%;
    height: 100px;
    border: 1.5rem solid white;
}
div.bussines-column-wrapper{
    display: flex;
    flex-wrap: wrap;
}
div.bussines-column{
    width: calc(100% / 3);
    height: 700px;
    background-color: cornflowerblue;
    border: 1.5rem solid white;
}
div.upper-column{
    width: 100%;
    height: 40px;
    background-color: aqua;
}
div.bussines-footer{
    width: 100%;
    height: 230px;
    background-color: rgb(236, 155, 33);
    border: 1.5rem solid white;
}
div.bussines-footer>div{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 0, 0)
}
.partner-box{
    width: 100%;
    height: 400px;
    border: 1.5rem solid white;
    margin-top: 2.5rem;
    display: flex;
}
.image-partner{
    width: 55%;
    height: 100%;
    background-color: chartreuse;
}
.text-partner{
    width: 45%;
    height: 100%;
    background-color: rgb(152, 23, 195);
    padding: 2rem;
}
.image-partner>img{
    height: 100%;
}
.title-operations{
    background-color: coral;
    border: 1.5rem solid white;
}
.dropbox-operations{
}
.operations-boxes{
    display: flex;
    flex-wrap: wrap;
}
.box-operation{
    width: calc(100% / 3);
    border: 1.5rem solid white;
    font-size: 0.6rem;
}
.box-operation>img{
    width: 100%;
}
.step-title{
    font-size: 1rem;
    padding-bottom: 1.1rem;
}
.dropbox-team{
    width: 70%;
    border: 1.5rem solid white;
    padding-top: 3.8rem;
}
.team-numbers>h1{
    font-size: 2.2rem;
    padding-bottom: 2rem;
}
.link-about-clients a{
    text-decoration: underline;
    color: #406af0;
}
.team-boxes{
    max-width: 100%;
    background-color: yellowgreen;
    height: 400px;
    display: flex;
}
.left-team-boxes,.right-team-boxes,.mid-team-boxes{
    width: calc(100% / 3);
    height: 100%;
}
.left-team-boxes{
    background-color: chartreuse;
}
div.designit{
    background-color: #a2d39b;
    border: 8px solid #d1e9cd;
}
div.arizona{
    background-color: #61082b;
}
div.florida{
    background-color: #0093ce;
}
div.topps{
    background-color: #fe1b1b;
}
div.world-bicyle{
    background-color: #d5001e;
}
div.hearst-corp{
    background-color: #b4d0e7;
}
div.lonely-planet{
    background-color: #0d2481;
}
div.clearchannel{
    background-color: #ffd82f;
}
.mid-team-boxes{
    background-color: #f5f5f5;
    padding: 2rem;
}
.mid-team-boxes>img{
    height: 50px;
    margin-bottom: 1rem;
}
.mid-team-boxes>p{
    padding-bottom: 2rem;
}
.right-team-boxes{
    background-color: rgb(65, 159, 241);
}
.team-member{
    width: 50%;
    height: 50%;
    background-color: darkblue;
    position: relative;
}
.team-member>img{
    height: 10%;
    position: absolute;
    left: 20%;
    top: 40%;
    filter: invert(1);
}
.dropbox-company{
    width: 100%;
    background-color: #b4d0e7;
}
.wrapper-dropbox-company{
    max-width: 780px;
    display: flex;
    align-items: center;
    padding: 2rem 0;
}
.dropbox-company-title{
    padding: 2rem;
    width: 70%;
}
.dropbox-company-title>h1{
    color:#5c0022;
    font-size: 1.4rem;
}
.start-button-free{
    width: 30%;
    text-align: right;
}
.questions{

}
.questions-wrapper{
    max-width: 780px;
    padding: 6rem 0;
    
}
.questions-wrapper>h2{
    padding-bottom: 2.5rem;
}
.questions-wrapper>p{
    font-weight: bold;
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions-wrapper p>i{
    padding-right: 1.5rem;
}
footer{
    background-color: black;
    height: 500px;
    width: 100%;
    padding: 4rem 0;
}
.footer-wrapper{
    max-width: 1000px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
}
.footer-column{
    background-color: #61082b;
    border: 1px solid white;
    height: 100%;
    width: 20%;
}
.footer-bottom{
    width: 100%;
    height: 100px;
    /* background-color: #a2d39b; */
    padding: 3rem 0;
}
.footer-bottom>div{
    max-width: 1000px;
    border-top: 1px solid white;
    color: white;
    padding: 2rem 0;
}
